*
{
    margin:0px;
    padding:0px;
}

body
{
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

.title
{
    padding:25px;
}


.directory
{
    float:left;
    padding:25px;
    width: 170px;
}

ul {
    list-style-type: none;
    font-family: 'Gruppo', cursive;
}

li
{
    font-weight: bold;
}

li a
{
    padding: 0px;
    color: black;
    text-decoration: none;
}

li a:visited
{
    color: black;
    text-decoration:none;
}

.gallerywrap
{
    padding-right:25px;
}

.gallery
{
    overflow-x: scroll; 
    overflow-y: hidden;
}

.pictures
{
    z-index: 1;
}

.thumb:hover
{
    opacity:0.4;
    filter:alpha(opacity=40);
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.wrapper
{
    width:2300px;
    font-size: 0;
}

.thumb
{
    display: inline-block;
    position:relative;
    width:383px;
    opacity: 1.0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
}

.overlay p {
    margin: 0;
    padding: 0 0 12px;
    color: white;
    font-size: 35px;
    font-family: 'Petit Formal Script', cursive;
    z-index: 2;
    text-align:center;
    top:250px;
    width:383px;
    opacity:0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}


.thumb:hover .overlay p
{   
    opacity:0.6;
    filter:alpha(opacity=40);
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}